{% load static %}
<section id = "about" class = "py-5">
    <div class = "container">
        <div class = "row gy-lg-5 align-items-center">
            <div class = "col-lg-6 order-lg-1 text-center text-lg-start">
                <div class = "title pt-3 pb-5">
                    <h2 class = "position-relative d-inline-block ms-4">About Us</h2>
                </div>
                <p class = "lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ipsam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga blanditiis, modi exercitationem quae quam eveniet! Minus labore voluptatibus corporis recusandae accusantium velit, nemo, nobis, nulla ullam pariatur totam quos.</p>
            </div>
            <div class = "col-lg-6 order-lg-0">
                {% comment %} <img src = "https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt= "AAAAAAAAAAAAAAAAA" class = "img-fluid" > {% endcomment %}
                <img src="{% static 'images/artiom-.jpg' %}" class="img-fluid" />
            </div>
        </div>
    </div>
</section>